
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
background-color: rgb(42, 41, 41);
  color: white;
}
.header {
  position: fixed;
  top: 0;
  color: white;
  width: 100%;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
  padding: 20px 20px;
  align-items: center;
}

.logo h1 {
  font-size: 30px;
  text-align: center;
}

.logo p {
  font-size: small;
  font-weight: 200;
  color: rgb(37, 185, 204)
}

.navItems {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav:hover {
  color: rgb(37, 215, 228);
}

.nav{
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.hamburger{
  display: none;
  cursor: pointer;
}


@media (max-width: 768px) {
  .navItems {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgb(49, 48, 48);
  }

  .navItems.active {
    display: flex; 
  }

  .hamburger{
    display: flex; 
  }
}


/* Home page styling */

.section {
  padding-top: 120px;
  max-width: 1320px;
  margin: 0 auto;
}

.portfolio-image{
  border-radius: 50%;
}

.hero-h1{
  color: rgb(41, 240, 223);
  font-size: xx-large;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-text-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 12px;
  max-width: 1000px;
  padding: 0 30px;
  text-align: center;
}

.hero-btn1{
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  background-color: rgb(32, 197, 209);
  border: none;
}

.hero-contact {
  text-decoration: none;
  color: black;
}

.hero-btn2{
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid silver;
  background-color: transparent;
  color: white;
}

.buttons{
  display: flex;
  gap: 15px;
}

.hero-btn1:hover{
  background-color: rgb(137, 255, 101);
}
.hero-btn2:hover{
 border: 1px solid rgb(40, 219, 219);
}



.h1{
  text-align: center;
  padding-bottom: 50px;
  font-size: xx-large;
  color: rgb(44, 216, 187);
}

.about{
  display: flex;
  justify-content: center;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  gap: 30px;
}

.about-image {
  border-radius: 20px;
}

.about-text{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width:1000px) {
  .about{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.skills{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.skill-item{
  display: flex;
  gap: 30px;
  width: 70%;
  align-items: center;
}

.html-css {
  width: 95%;
  height: 10px;
  border-radius: 20px;
  background-color: yellow;
}
.js {
  width: 95%;
  height: 10px;
  background-color: yellow;
  border-radius: 20px;
}
.ts {
  width: 75%;
  height: 10px;
  background-color: yellow;
  border-radius: 20px;
}
.react-js {
  width: 90%;
  height: 10px;
  background-color: yellow;
  border-radius: 20px;
}
.next-js {
  width: 60%;
  height: 10px;
  background-color: yellow;
  border-radius: 20px;
}


/* contact page styling */

.contact {
  display: flex;
  gap: 40px;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.talk {
  color: rgb(29, 226, 240);
}

.contact-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.contact-option{
  display: flex;
  gap: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.contact-form input{
  background-color: rgb(87, 85, 85);
  color: white;
  border: none;
  padding: 10px 10px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.contact-form textarea{
  background-color: rgb(87, 85, 85);
  color: white;
  padding: 10px 10px;
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
  border-radius: 5px;
}

@media (max-width:850px) {
  .contact{
    flex-direction: column;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 30px;
  margin-bottom: 20px;
}

.footer-top{
  display: flex;
  justify-content: space-between;
}



.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.line {
  height:1px;
  width: 100%;
  background-color: white;
}


.footer-action input{
   padding: 10px;
   width: 55%;
   background-color: rgb(59, 56, 56);
   color: white;
   border: none;
   border-radius: 20px;
}

.footer-action button {
  padding: 8px;
  margin-left: 10px;
  background-color: rgb(19, 231, 238);
  border-radius: 20px;
  border: none;
  outline: none;
}

.legal-items{
  display: flex;
  gap: 10px;
  color: rgb(207, 207, 207);
}
.legal-items p:hover{
  color: white;
  cursor: pointer;
}

@media (max-width:768px) {
  .footer-top{
    flex-direction: column;
    gap: 15px;
  }

  .footer-top .logo h1{
    text-align: start;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
  }
}
